.mainnav {
  background-color: black;
  color: white;
  padding: 0.5rem 1rem;
}

.mainnav h2 {
  padding: 0.5rem;
}

.mainnav a {
  color: white;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.mainnav a:hover:not(#navburger > a) {
  color: black;
  background-color: white;
}

.mainnav ul {
  list-style-type: none;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0;
}

.mainnav li {
  font-size: 1.25rem;
  padding-left: 1rem;
}

.mainnav ul > * + * {
  margin-top: 0.75rem;
}

.mainnav.responsive li {
  display: none;
}

#navburger {
  display: block;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  margin: 0;
  padding: 0;
  height: 30px;
}

@media (min-width: 768px) {
  .mainnav h2 {
    float: left;
  }

  .mainnav li, .mainnav.responsive li {
    float: right;
    display: inline;
  }

  #navburger {
    display: none;
  }
}
