#navbar {
  background-color: black;
}

.nav-flex {
  display: block;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
}
.nav-flex a {
  color: white;
  text-decoration: none;
}
.nav-flex ul {
  margin: 0;
  padding-left: 2rem;
  list-style-type: none;
}
.nav-flex li {
  margin-top: 1rem;
  font-size: 1.5rem;
}

@keyframes goRight {
  0% {
    transform: translateX(-2rem);
  }
  100% {
    transform: translateX(0rem);
  }
}
#nav-menu {
  display: none;
}
#nav-menu.active {
  display: block;
}
#nav-menu.active > * {
  transform-origin: 0 0;
  animation-name: goRight;
  animation-duration: 0.25s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}
#nav-menu.active > *:nth-child(1) {
  animation-delay: 0ms;
}
#nav-menu.active > *:nth-child(2) {
  animation-delay: 75ms;
}
#nav-menu.active > *:nth-child(3) {
  animation-delay: 150ms;
}
#nav-menu.active > *:nth-child(4) {
  animation-delay: 225ms;
}
#nav-menu.active > *:nth-child(5) {
  animation-delay: 300ms;
}

.nav-logo {
  font-size: 2.25rem;
  font-weight: 500;
  margin-right: 3.25rem;
}

.nav-link {
  font-size: 1.5rem;
}
.nav-link:hover {
  text-decoration: underline;
}

#nav-toggle {
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  fill: white;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}
#nav-toggle.active {
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  #nav-toggle {
    display: none;
  }

  .nav-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #nav-menu, #nav-menu.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }
  #nav-menu li, #nav-menu.active li {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }
}
*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  z-index: -1;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background-color: whitesmoke;
  font-family: Rubik, Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
  hyphens: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: black;
}

hr {
  border: none;
  margin: 0;
  height: 1px;
  color: black;
  background-color: black;
}

.stack > *:not(img) + * {
  margin-top: 1rem;
}

main {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: min(40px, 4vw);
}
main > * + * {
  margin-top: 1rem;
}

main:last-child {
  margin-bottom: 1rem;
}

button {
  all: unset;
  line-height: 1.5;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  box-shadow: 5px 5px #363636;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 0.375rem 0.75rem;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
button a {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  background-color: black;
  color: white;
}
button:hover {
  background-color: black;
  color: white;
}
button:active {
  transform: translate(5px, 5px);
  box-shadow: none;
}

img {
  border: 1px solid black;
  box-shadow: 5px 5px #b5b5b5;
}

footer, j-footer {
  color: white;
  background-color: black;
  margin-top: auto;
  padding: 2rem 0;
  text-align: center;
}
footer > * + *, j-footer > * + * {
  margin-top: 1rem;
}
footer a, j-footer a {
  color: white;
}

.col-3, .col-2 {
  display: grid;
  column-gap: 1rem;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
}
.col-2 > :nth-child(n+3) {
  margin-top: 1rem;
}

.col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.col-3 > :nth-child(n+4) {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .col-2 {
    grid-template-columns: 1fr;
  }
  .col-2 > :nth-child(n+2) {
    margin-top: 1rem;
  }

  .col-3 {
    grid-template-columns: 1fr 1fr;
  }
  .col-3 > :nth-child(n+3) {
    margin-top: 1rem;
  }
}
@media (max-width: 500px) {
  .col-3 {
    grid-template-columns: 1fr;
  }
  .col-3 > :nth-child(n+2) {
    margin-top: 1rem;
  }
}
.card, .card-yellow-dark, .card-yellow-light, .card-red-dark, .card-red-light, .card-red, .card-blue-dark, .card-blue-light, .card-blue, .card-green-dark, .card-green-light, .card-green, .card-default-dark, .card-default {
  background-color: white;
  color: black;
  width: 100%;
  box-shadow: 5px 5px #b5b5b5;
  border: 1px solid black;
  padding: 1rem;
}

.card-default {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #b5b5b5;
}
.card-default > a {
  background-color: white;
  color: black;
}
.card-default > strong {
  color: #363636;
}

.btn-default {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #b5b5b5;
}
.btn-default > a {
  background-color: white;
  color: black;
}
.btn-default:hover, .btn-default:hover a {
  color: white;
  background-color: black;
}

.card-default-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #b5b5b5;
}
.card-default-dark > a {
  background-color: black;
  color: white;
}
.card-default-dark > strong {
  color: white;
}

.btn-default-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #b5b5b5;
}
.btn-default-dark > a {
  background-color: black;
  color: white;
}
.btn-default-dark:hover, .btn-default-dark:hover a {
  color: black;
  background-color: white;
}

.card-green {
  color: white;
  background-color: #48c774;
  box-shadow: 5px 5px #b5b5b5;
}
.card-green > a {
  background-color: #48c774;
  color: white;
}
.card-green > strong {
  color: white;
}

.btn-green {
  color: white;
  background-color: #48c774;
  box-shadow: 5px 5px #b5b5b5;
}
.btn-green > a {
  background-color: #48c774;
  color: white;
}
.btn-green:hover, .btn-green:hover a {
  color: #48c774;
  background-color: white;
}

.card-green-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #48c774;
}
.card-green-light > a {
  background-color: white;
  color: black;
}
.card-green-light > strong {
  color: #48c774;
}

.btn-green-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #48c774;
}
.btn-green-light > a {
  background-color: white;
  color: black;
}
.btn-green-light:hover, .btn-green-light:hover a {
  color: white;
  background-color: black;
}

.card-green-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #48c774;
}
.card-green-dark > a {
  background-color: black;
  color: white;
}
.card-green-dark > strong {
  color: #48c774;
}

.btn-green-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #48c774;
}
.btn-green-dark > a {
  background-color: black;
  color: white;
}
.btn-green-dark:hover, .btn-green-dark:hover a {
  color: black;
  background-color: white;
}

.card-blue {
  color: white;
  background-color: #3273dc;
  box-shadow: 5px 5px #b5b5b5;
}
.card-blue > a {
  background-color: #3273dc;
  color: white;
}
.card-blue > strong {
  color: white;
}

.btn-blue {
  color: white;
  background-color: #3273dc;
  box-shadow: 5px 5px #b5b5b5;
}
.btn-blue > a {
  background-color: #3273dc;
  color: white;
}
.btn-blue:hover, .btn-blue:hover a {
  color: #3273dc;
  background-color: white;
}

.card-blue-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #3273dc;
}
.card-blue-light > a {
  background-color: white;
  color: black;
}
.card-blue-light > strong {
  color: #3273dc;
}

.btn-blue-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #3273dc;
}
.btn-blue-light > a {
  background-color: white;
  color: black;
}
.btn-blue-light:hover, .btn-blue-light:hover a {
  color: white;
  background-color: black;
}

.card-blue-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #3273dc;
}
.card-blue-dark > a {
  background-color: black;
  color: white;
}
.card-blue-dark > strong {
  color: #3273dc;
}

.btn-blue-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #3273dc;
}
.btn-blue-dark > a {
  background-color: black;
  color: white;
}
.btn-blue-dark:hover, .btn-blue-dark:hover a {
  color: black;
  background-color: white;
}

.card-red {
  color: white;
  background-color: #ff3860;
  box-shadow: 5px 5px #b5b5b5;
}
.card-red > a {
  background-color: #ff3860;
  color: white;
}
.card-red > strong {
  color: white;
}

.btn-red {
  color: white;
  background-color: #ff3860;
  box-shadow: 5px 5px #b5b5b5;
}
.btn-red > a {
  background-color: #ff3860;
  color: white;
}
.btn-red:hover, .btn-red:hover a {
  color: #ff3860;
  background-color: white;
}

.card-red-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #ff3860;
}
.card-red-light > a {
  background-color: white;
  color: black;
}
.card-red-light > strong {
  color: #ff3860;
}

.btn-red-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #ff3860;
}
.btn-red-light > a {
  background-color: white;
  color: black;
}
.btn-red-light:hover, .btn-red-light:hover a {
  color: white;
  background-color: black;
}

.card-red-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #ff3860;
}
.card-red-dark > a {
  background-color: black;
  color: white;
}
.card-red-dark > strong {
  color: #ff3860;
}

.btn-red-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #ff3860;
}
.btn-red-dark > a {
  background-color: black;
  color: white;
}
.btn-red-dark:hover, .btn-red-dark:hover a {
  color: black;
  background-color: white;
}

.card-yellow-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #ffdd57;
}
.card-yellow-light > a {
  background-color: white;
  color: black;
}
.card-yellow-light > strong {
  color: #ffdd57;
}

.btn-yellow-light {
  color: black;
  background-color: white;
  box-shadow: 5px 5px #ffdd57;
}
.btn-yellow-light > a {
  background-color: white;
  color: black;
}
.btn-yellow-light:hover, .btn-yellow-light:hover a {
  color: white;
  background-color: black;
}

.card-yellow-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #ffdd57;
}
.card-yellow-dark > a {
  background-color: black;
  color: white;
}
.card-yellow-dark > strong {
  color: #ffdd57;
}

.btn-yellow-dark {
  color: white;
  background-color: black;
  box-shadow: 5px 5px #ffdd57;
}
.btn-yellow-dark > a {
  background-color: black;
  color: white;
}
.btn-yellow-dark:hover, .btn-yellow-dark:hover a {
  color: black;
  background-color: white;
}

.img-black {
  border: 1px solid black;
  box-shadow: 5px 5px #0a0a0a;
}

.img-green {
  border: 1px solid black;
  box-shadow: 5px 5px #48c774;
}

.img-blue {
  border: 1px solid black;
  box-shadow: 5px 5px #3273dc;
}

.img-red {
  border: 1px solid black;
  box-shadow: 5px 5px #ff3860;
}

.img-yellow {
  border: 1px solid black;
  box-shadow: 5px 5px #ffdd57;
}

.img-float-left, .img-float-right {
  width: min(20vw, 200px);
  margin-bottom: 1rem;
}

.img-float-right {
  float: right;
  margin-left: 1rem;
}

.img-float-left {
  float: left;
  margin-right: 1rem;
}

.crazy-jonah {
  transition: text-shadow 0.2s ease-in-out;
}
.crazy-jonah:hover {
  text-shadow: 0.2rem 0.2rem #ff3860, 0.4rem 0.4rem #3273dc;
}
.crazy-jonah:focus {
  text-shadow: 0.25rem 0.25rem #ff3860, 0.5rem 0.5rem #3273dc;
}
