@import 'mixins';
@import 'colors';
@import 'nav';

*, ::after, ::before {
  box-sizing: border-box;
}

html, body {
  z-index: -1;
  margin: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background-color: $light;
  font-family: Rubik, Inter, Roobert, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 100%;
}

@media (max-width: 768px) {
  html, body {
    font-size: 90%;
  }
}

@media (max-width: 500px) {
  html, body {
    font-size: 85%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

p {
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: black;
}

hr {
  border: none;
  margin: 0;
  height: 1px;
  color: black;
  background-color: black;
}

.stack {
  @include stack("*:not(img)", "*");
}

main {
  @include stack("*", "*");
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: min(40px, 4vw);
}

main:last-child {
  margin-bottom: 1rem;
}

button {
  all: unset;
  line-height: 1.5;

  font-weight: bold;
  color: black;
  border: 1px solid black;

  box-shadow: 5px 5px $dark;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: .375rem .75rem;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

  a {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    background-color: black;
    color: white;
  }

  &:hover {
    background-color: black;
    color: white;
  }

  &:active {
    transform: translate(5px, 5px);
    box-shadow: none;
  }
  
}

img {
  border: 1px solid black;
  box-shadow: 5px 5px $gray-light;
}

footer {
  @include stack("*", "*");
  color: white;
  background-color: black;

  margin-top: auto;
  padding: 2rem 0;
  text-align: center;

  a {
    color: white;
  }
}

j-footer {
  @extend footer;
}

%col {
  display: grid;
  column-gap: 1rem;
}

.col-2 {
  @extend %col;
  grid-template-columns: 1fr 1fr;

  > :nth-child(n+3) {
    margin-top: 1rem;
  }
}

.col-3 {
  @extend %col;
  grid-template-columns: 1fr 1fr 1fr;

  > :nth-child(n+4) {
    margin-top: 1rem;
  }
}

@media (max-width: 768px) {
  .col-2 {
    grid-template-columns: 1fr;

    > :nth-child(n+2) {
      margin-top: 1rem;
    }
  }

  .col-3 {
    grid-template-columns: 1fr 1fr;

    > :nth-child(n+3) {
      margin-top: 1rem;
    }
  }
}

@media (max-width: 500px) {
  .col-3 {
    grid-template-columns: 1fr;

    > :nth-child(n+2) {
      margin-top: 1rem;
    }
  }
}