@use 'sass:map';

@import 'colors';

#navbar {
  background-color: black;
  // background: linear-gradient(45deg, map.get($tw-yellow, 400), map.get($tw-orange, 500));
}

.nav-flex {
  display: block;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 1rem;

  overflow: hidden;

  a {
    color: white;
    text-decoration: none;
  }
  
  ul {
    margin: 0;
    padding-left: 2rem;
    list-style-type: none;
  }

  li {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@keyframes goRight {
  0% { transform: translateX(-2rem);}
  100% { transform:translateX(0rem);}
}

#nav-menu {
  display: none;

  &.active {
    display: block;

      > * {
      transform-origin: 0 0;
      animation-name: goRight;
      animation-duration: .25s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
      animation-iteration-count: 1;

      &:nth-child(1) { animation-delay:   0ms; }
      &:nth-child(2) { animation-delay:  75ms; }
      &:nth-child(3) { animation-delay: 150ms; }
      &:nth-child(4) { animation-delay: 225ms; }
      &:nth-child(5) { animation-delay: 300ms; }
    }
  }
}

.nav-logo {
  font-size: 2.25rem;
  font-weight: 500;
  margin-right: 3.25rem;
}

.nav-link {
  font-size: 1.5rem;

  &:hover {
    text-decoration: underline;
  }
}

#nav-toggle {
  position: absolute;
  display: block;
  top: 1rem;
  right: 1rem;
  fill: white;
  cursor: pointer;
  transition: transform .15s ease-in-out;

  &.active {
    transform: rotate(90deg);
  }
}

@media (min-width: 768px) {
  #nav-toggle {
    display: none;
  }

  .nav-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #nav-menu, #nav-menu.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;

    li {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 1rem;
    }
  }
}