@use 'sass:map';

@import 'colors';

#navbar {
  background-color: black;
}

.nav-flex {
  display: block;
  width: 100%;
  max-width: 1320px;
  margin: auto;
  padding: 1rem;
}

.nav-logo {
  font-size: 2.25rem;
  text-decoration: none;
  font-weight: 500;
  margin-right: 3.25rem;
}

@keyframes nav-link-fly {
  0% { transform: translateX(-2rem); }
  100% { transform:translateX(0rem); }
}

#nav-menu {
  display: none;

  &.active {
    display: flex;
    flex-direction: column;

    > * {
      animation-name: nav-link-fly;
      animation-duration: .25s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;

      &:nth-child(1) { animation-delay:   0ms; }
      &:nth-child(2) { animation-delay:  75ms; }
      &:nth-child(3) { animation-delay: 150ms; }
      &:nth-child(4) { animation-delay: 225ms; }
      &:nth-child(5) { animation-delay: 300ms; }
    }
  }
}


.nav-link {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem 0 0 2rem;

  &:hover {
    text-decoration: underline;
  }
}

#nav-toggle {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  transition: transform .15s ease-in-out;

  &.active {
    transform: rotate(90deg);
  }
}

@media (min-width: 768px) {
  #nav-toggle {
    display: none;
  }

  .nav-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  #nav-menu, #nav-menu.active {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
  }

  .nav-link {
    margin: auto 0 auto 1rem;
  }
}