@use 'sass:map';

@import 'colors';
@import 'base';

%img-floats {
  width: min(20vw, 200px); 
  margin-bottom: 1rem;
}

.img-float-right {
  @extend %img-floats;
  float: right;
  margin-left: 1rem; 
}

.img-float-left {
  @extend %img-floats;
  float: left;
  margin-right: 1rem; 
}

.crazy-jonah {
  transition: text-shadow 0.2s ease-in-out;

  &:hover {
    text-shadow: 0.2rem 0.2rem $red, 0.4rem 0.4rem $blue;
  }

  // &:focus {
  //   text-shadow: 0.25rem 0.25rem $red, 0.5rem 0.5rem $blue;
  // }
}

.crazy-inherit {
  transition: text-shadow 0.2s ease-in-out;

  &:hover {
    text-shadow: 0.2rem 0.2rem var(--color-accent);
  }

  // &:focus {
  //   text-shadow: 0.25rem 0.25rem var(--color-accent);
  // }
}

// div {
//   > h1:first-of-type {
//     transition: text-shadow 0.2s ease-in-out;
//   }

//   &:hover > h1:first-of-type {
//     text-shadow: 0.2rem 0.2rem var(--color-accent, $yellow);
//   }
// }