---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="site-content">
  <div class="card">
    <h1 class="card-title">That's a 404!</h1>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; gap: 1rem;">
      <img src="/assets/404/geometrischer-1.jpg" style="max-width: 100%;">
      <img src="/assets/404/geometrischer-2.jpg" style="max-width: 100%;">
      <img src="/assets/404/geometrischer-3.jpg" style="max-width: 100%;">
      <img src="/assets/404/geometrischer-4.jpg" style="max-width: 100%;">
    </div>

    <p>The content you requested could not be found on the server.</p>
    <p>Go <a href="{{ '/' | url }}">home</a>.</p>

    <p class="post-description">Images from <a href="https://publicdomainreview.org/collection/solid-objects">Herzog August Bibliothek in Wolfenbüttel</a>.</p>
  </div>
</div>


