---
layout: layouts/base.njk
---
<div class="site-content">

<div class="card">
<img src="/assets/profilepic0.jpg" style="float:right;margin-left: 1rem;width: min(33vw, 175px); ">
<h1 class="card-title" id="greeting">After­noon! My name is <span class="crazy-jonah">Jonah Sussman</span>.</h1>


<p>I'm a Senior Software Engineer at <span class="shout-wrapper"><a href="https://www.redhat.com/">Red Hat</a><span class="shout" style="color: #EE0000;">Unsubsquirrel! 🐿️</span></span> and a Master's student in AI at <span class="shout-wrapper"><a href="https://www.utexas.edu/">UT Austin</a><span class="shout shout-ut">Hook 'em! 🤘</span></span>. I hold an MS in Computer Science and a BS in Computer Science & Mathematics from <span class="shout-wrapper"><a href="https://www.ua.edu/">The University of Alabama</a><span class="shout shout-ua">Roll Tide! 🐘</span></span>, where I also worked as a <a href="https://www.mdpi.com/1424-8220/24/11/3392">research assistant</a>.</p>

<p>Welcome to my website! Here you can find various things that I've been working on, projects, et cetera. Stay a while!</p>

</div>

<div class="card">
  <h1 class="card-title">Featured Project</h1>
  <ul class="thumb-list">
  {% set latest_project = projects | head(1) %}
  {% for project in latest_project %}
    <li onclick="location.href='{{ project.link }}';">
      <img style="max-width: unset;" class="g-left" src="{{ project.thumb }}">
      <div class="g-right">
        <a href="{{ project.link | url }}">{{ project.title }}</a>
        <time> — {{ project.date }}</time>
        <p><i>{{ project.description }}</i></p>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>

<div class="card">
{% set maxPosts = collections.posts.length | min(3) %}
<h1 class="card-title">Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

</div>




</div>

<script>
  function rand_select(a) {
    return a[Math.floor(Math.random() * a.length)];
  }

  let h = new Date().getHours();
  let timed_greet = '';
  if (h < 6) {
    timed_greet = 'Some&shy;one\'s up early!';
  } else if (h < 12) {
    timed_greet = 'Morn&shy;in\'!';
  } else if (h < 18) {
    timed_greet = 'After&shy;noon!';
  } else if (h < 21) {
    timed_greet = 'Even&shy;in\'!';
  } else {
    timed_greet = 'Good even&shy;ing!';
  }

  let greetings = ['Ahoy!', 'Hey!', 'Hi!', 'Hello!', 'Howdy!', timed_greet];
  let greet = rand_select(greetings) + ' My name is <span class="crazy-jonah">Jonah Sussman</span>.';
  document.getElementById('greeting').innerHTML = greet;
</script>