<ul class="post-list">
{% for post in postslist | reverse %}
  <li onclick="location.href='{{ post.url | url }}';">
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <time> — {{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
    <p style="margin-top:0;margin-left:1rem;"><i>{{ post.data.description }}</i></p>
  </li>
{% endfor %}
</ul>