---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ page.date | htmlDateString }}</lastmod>
    {% for img in page.data.sitemap.images %}
    <image:image>
      {% if img.loc %}<image:loc>{{ img.loc | url | absoluteUrl(metadata.url) }}</image:loc>{% endif %}
      {% if img.title %}<image:title>{{ img.title }}</image:title>{% endif %}
      {% if img.caption %}<image:caption>{{ img.caption }}</image:caption>{% endif %}
    </image:image>
    {% endfor %}
  </url>
{%- endfor %}
</urlset>
